html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

label {
  user-select: none;
}

// hide arrows on number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}