$shadow-card: 0 .8rem 2rem rgba(0, 0, 0, .08), 0 .2rem .4rem rgba(0, 0, 0, .04);
$shadow-card-hover: 0 1.2rem 3rem rgba(0, 0, 0, .1), 0 .2rem .4rem rgba(0, 0, 0, .06);

$shadow-button: 0 2px 6px rgba(0, 0, 0, .16);
$shadow-button-hover: 0 4px 12px rgba(0, 0, 0, .24);
