// Fontface Import

@font-face {
  font-family: 'Gellix-Bold';
  font-style: normal;
  font-display: optional;
  src: url('/../fonts/Gellix-Bold.woff2') format('woff2'), url('/../fonts/Gellix-Bold.woff') format('woff'), url('/../fonts/Gellix-Bold.eot') format('eot');
}

@font-face {
  font-family: 'Silka Regular';
  font-style: normal;
  font-display: optional;
  src: url('/../fonts/silka-regular-webfont.woff2') format('woff2'), url('/../fonts/silka-regular-webfont.woff') format('woff'), url('/../fonts/silka-regular-webfont.eot') format('eot'), url('/../fonts/silka-regular-webfont.ttf') format('ttf');
}

html {
  font-family: 'Silka Regular', sans-serif;
  font-size: 16px;

  @include mq('tablet') {
    font-size: 18px;
  }

  @include mq('desktop') {
    font-size: 20px;
  }

  @include mq('desktop-wide') {
    font-size: 26px;
  }
}

button,
input,
textarea,
li,
a {
  font-family: inherit;
}

h1,
h2,
h3,
h4 {
  cursor: default;
  user-select: none;
}


h1 {
  margin-bottom: 2rem;
  font-family: 'Gellix-Bold', sans-serif;
  font-size: 3rem;
  line-height: 120%;
}

h2 {
  margin-bottom: 1.4rem;
  font-family: 'Gellix-Bold', sans-serif;
  font-size: 2.4rem;
  line-height: 120%;
}

h3 {
  margin-bottom: 1rem;
  font-family: 'Gellix-Bold', sans-serif;
  font-size: 1.6rem;
  line-height: 140%;
}

h4 {
  margin-bottom: .5rem;
  font-family: 'Gellix-Bold', sans-serif;
  font-size: 1rem;
  line-height: 140%;
}

p {
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 160%;
}

button {
  font-size: 1rem;
  line-height: 100%;
  white-space: nowrap;
}

a {
  outline: none;
  font-size: 1rem;
  line-height: 100%;
  color: $color-primary;
}

ul {
  li {
    list-style: disc;
  }
}

ol {
  li {
    list-style: decimal;
  }
}

li {
  margin-bottom: .8rem;
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 160%;
}

label {
  font-size: .8rem;
  line-height: 100%;
}

input, textarea {
  font-size: 1rem;
}

em {
  font-style: italic;
}

strong {
  font-family: 'Gellix-Bold';
}

textarea {
  min-height: 6rem;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
