.grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &--mrg {
    margin-bottom: $grid-i-gutter--dtp;

    @include mq('tablet') {
      margin-bottom: $grid-i-gutter--tab;
    }

    @include mq('mobile') {
      margin-bottom: $grid-i-gutter--mob;
    }
  }

  &__row-el {
    &--12 {
      @include grid-el-row(12, 12, 12);
    }

    &--8 {
      @include grid-el-row(8, 8, 8);
    }
  }

  &__el {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size-l;
    background: $color-secondary;

    &--1 {
      width: grid-el-dtp(1);
    }

    &--2 {
      width: grid-el-dtp(2);
    }

    &--3-3 {
      width: grid-el-dtp(3);
      margin-left: grid-el-dtp(3, true);

      @include mq('tablet') {
        width: grid-el-tab(3);
        margin-left: grid-el-tab(3, true);
      }

      @include mq('mobile') {
        width: grid-el-mob(3);
        margin-left: grid-el-mob(3, true);
      }
    }


    &--4 {
      width: grid-el-dtp(4);
    }

    &--r-3 {
      @include grid-el-responsive(3, 4, 6);
      @include grid-el-row(4, 3, 2);
    }

    &--rsp {
      @include grid-el-responsive(3, 4, 6); // on desktop our el takes 3 columns, on tablet: 4, and on mobile: 6
      @include grid-el-row(4, 3, 2); // on desktop there are 4 els per row, on tablet: 3 els per row, and on mobile: 2 els per row
    }

  }
}

.colors {
  display: flex;
  justify-content: flex-start;
  padding-bottom: $size-s;
}

.color {
  width: grid-el-dtp(1);
  padding-top: grid-el-dtp(1);
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: $grid-i-gutter--dtp;
  }

  @include mq('tablet') {
    width: grid-el-tab(1);
    padding-top: grid-el-tab(1);

    &:not(:last-child) {
      margin-right: $grid-i-gutter--tab;
    }
  }

  @include mq('tablet-small') {
    width: grid-el-tab(2);
    padding-top: grid-el-tab(2);
  }

  @include mq('mobile') {
    width: grid-el-mob(2);
    padding-top: grid-el-mob(2);

    &:not(:last-child) {
      margin-right: $grid-i-gutter--mob;
    }
  }

  &--primary {
    background: $color-primary;
  }

  &--secondary {
    background: $color-secondary;
  }

  &--grey-1 {
    background: $grey-light;
  }

  &--grey-2 {
    background: $grey-mid;
  }

  &--grey-3 {
    background: $grey-dark;
  }

  &--grey-4 {
    background: $grey-darker;
  }

  &--shadow-button {
    box-shadow: $shadow-button;
  }

  &--shadow-card {
    box-shadow: $shadow-card;
  }
}

.gradient {
  width: 100%;
  padding-top: calc(100% / 16 * 9);
  background: $gradient-brand;
}

.newsletter {
  @include grid-wrapper;
  background: $grey-light;
}