.grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &--mrg {
    margin-bottom: $grid-i-gutter--mob;

    @include mq('tablet') {
      margin-bottom: $grid-i-gutter--tab;
    }

    @include mq('desktop') {
      margin-bottom: $grid-i-gutter--dtp;

    }
  }

  &__row-el {
    &--12 {
      @include grid-row-mrg(12, 12, 12);
    }

    &--8 {
      @include grid-row-mrg(8, 8, 8);
    }
  }

  &__el {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size-l;
    background: $grey-light;

    &--1 {
      width: grid-el-mob(1);

      @include mq('tablet') {
        width: grid-el-tab(1);
      }

      @include mq('desktop') {
        width: grid-el-dtp(1);
      }
    }

    &--2 {
      width: grid-el-mob(2);

      @include mq('tablet') {
        width: grid-el-tab(2);
      }

      @include mq('desktop') {
        width: grid-el-dtp(2);
      }
    }

    &--3-3 {
      width: grid-el-mob(3);
      margin-left: grid-el-mob(3, $grid-i-gutter--mob);

      @include mq('tablet') {
        width: grid-el-tab(3);
        margin-left: grid-el-tab(3, $grid-i-gutter--tab);
      }

      @include mq('desktop') {
        width: grid-el-dtp(3);
        margin-left: grid-el-dtp(3, $grid-i-gutter--dtp);
      }
    }


    &--4 {
      width: grid-el-mob(4);

      @include mq('tablet') {
        width: grid-el-tab(4);
      }

      @include mq('desktop') {
        width: grid-el-dtp(4);
      }
    }

    &--rsp {
      @include grid-el-res(3, 6, 3);
      @include grid-row-mrg(4, 2, 4);
      margin-bottom: $size-m;
    }

    &--hw {
      @include grid-el-res(6, 6, 6);
      @include grid-row-mrg(2, 2, 2);
      margin-bottom: $size-m;
      display: flex;
      flex-wrap: wrap;
    }

    &--nested-2 {
      width: grid-el-mob-child(3, 6);

      @include mq('tablet') {
        width: grid-el-tab-child(3, 6);
      }

      @include mq('desktop') {
        width: grid-el-dtp-child(3, 6);
      }

      &:last-child {
        margin-left: $grid-i-gutter--mob;
        @include mq('tablet') {
          margin-left: $grid-i-gutter--tab;
        }

        @include mq('desktop') {
          margin-left: $grid-i-gutter--dtp;
        }
      }
    }

  }
}

.colors {
  display: flex;
  justify-content: flex-start;
  padding-bottom: $size-s;
}

.color {
  width: grid-el-mob(2);
  padding-top: grid-el-mob(2);
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: $grid-i-gutter--mob;
  }

  @include mq('tablet') {
    width: grid-el-tab(1);
    padding-top: grid-el-tab(1);

    &:not(:last-child) {
      margin-right: $grid-i-gutter--tab;
    }
  }

  @include mq('tablet') {
    width: grid-el-tab(2);
    padding-top: grid-el-tab(2);
  }

  @include mq('desktop') {
    width: grid-el-dtp(2);
    padding-top: grid-el-dtp(2);

    &:not(:last-child) {
      margin-right: $grid-i-gutter--dtp;
    }
  }

  &--primary {
    background: $color-primary;
  }

  &--secondary {
    background: $color-secondary;
  }

  &--grey-1 {
    background: $grey-light;
  }

  &--grey-2 {
    background: $grey-mid;
  }

  &--grey-3 {
    background: $grey-dark;
  }

  &--grey-4 {
    background: $grey-darker;
  }

  &--shadow-button {
    box-shadow: $shadow-button;
  }

  &--shadow-card {
    box-shadow: $shadow-card;
  }
}

.gradient {
  width: 100%;
  padding-top: calc(100% / 16 * 9);
  background: $gradient-brand;
}

.newsletter {
  @include grid-wrapper;
  background: $grey-light;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  padding: $size-s 0;

  .button {
    &:not(:last-child) {
      margin-right: $size-s;
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;

  a {
    margin-top: 1rem;
  }
}