.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: .6rem 1rem;
  outline: none;
  border: 0;
  border-radius: 2rem;
  user-select: none;
  &:hover,
  &:focus {
    &::before {
      box-shadow: $shadow-button-hover;
      opacity: .8;
      transition: box-shadow .24s linear;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 4px;
    right: 4px;
    bottom: 0;
    box-shadow: $shadow-button;
    opacity: .66;
    transition: box-shadow .4s ease;
    z-index: -1;
  }

  &::after {
    content: '';
    border-radius: $border-radius;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  &:focus {
    &::after {
      border: 4px solid $black-trans;
      transition: border .16s linear;
    }
  }

  &--no-style {
    color: $black;
    background: $white;

    &::after, &::before {
      content: unset;
    }

    &:hover,
    &:focus {
      &::after {
        box-shadow: none;
      }
    }
  }

  &--primary {
    color: $white;

    &::after {
      background: $color-primary;
    }
  }

  &--disabled {
    border: 0;
    color: $white;
    cursor: default;

    &:after {
      background: $grey-light;
    }

    &::before {
      content: unset;
    }

    &:hover {
      transform: unset;
    }
  }
}

.button-container {
  display: flex;
  width: 100%;
  flex-grow: 1;

  &--center {
    align-items: center;
  }

  .button {
    &:not(:first-child) {
      @include property-with-gutter('margin-left', 'inner');
    }
  }
}
