.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: .6rem 1rem;
  outline: none;
  border: 0;
  border-radius: 2rem;
  user-select: none;

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: $shadow-button-hover;
    transition: box-shadow .16s linear;
  }


  &::after {
    @include after-fill;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-radius: 2rem;
    transition: border .16s linear;
  }

  &:focus {
    &::after {
      border: 4px solid $black-trans;
      transition: border .16s linear;
    }
  }

  &--no-style {
    color: $black;
    background: $white;

    &:hover,
    &:focus {
      box-shadow: none;
    }

  }

  &--primary {
    color: $white;
    background-color: $color-primary;
  }

  &--inactive {
    cursor: default;
    border: 0;
    color: $white;
    background: $grey-darker;

    &::after {
      @include after-fill;
      top: -4px;
      left: -4px;
      border: 4px solid transparent;
      border-radius: 2rem;
      transition: border .16s linear;
    }

    &:hover,
    &:focus {
      box-shadow: $shadow-button;

      &::after {
        border: 4px solid transparent;
      }
    }
  }
}

