.switch {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &__container {
    margin: 20px 0;
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 1rem;
  }

  &__box {
    position: relative;
    width: 48px;
    min-width: 48px;
    height: 24px;
    margin-right: 32px;
    border-radius: 12px;
    background: $grey-light;

    &::after {
      @include transition-acceleration(all, .32s);
      position: absolute;
      display: block;
      top: 4px;
      left: 6px;
      transform: translate3d(0, 0, 0);
      width: 16px;
      height: 16px;
      border-radius: 12px;
      content: '';
      background: $grey-dark;
    }
  }

  input {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }

  input:checked + &__box::after {
    left: 26px;
    background-color: $color-primary;
  }
}
