$switch-bg-color: #f3f2f0 !default;
$switch-checkbox-inactive-color: #d8d8d8 !default;
$switch-checkbox-active-color: #e63351 !default;
$switch-text-color: #000000 !default;
$switch-text-color-inactive: #767676 !default;

.switch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__container {
        margin: 20px 0;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        font-size: 1rem;
    }

    &__text {
        color: $switch-text-color;
        font-size: 1rem;
        text-transform: none;
        width: 100%;
        cursor: pointer;

        &--right {
            text-align: right;
        }

        &--inactive {
            color: $switch-text-color-inactive;
        }
    }

    &__box {
        position: relative;
        background: $switch-bg-color;
        width: 48px;
        min-width: 48px;
        height: 24px;
        border-radius: 12px;
        margin-right: 32px;

        &::after {
            @include transition-acceleration (all, .32s);
            position: absolute;
            top: 4px;
            left: 6px;
            display: block;
            width: 16px;
            height: 16px;
            transform: translate3d(0, 0, 0);
            border-radius: 12px;
            background: $switch-checkbox-inactive-color;
            content: '';
        }
    }

    input {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
    }

    input:checked + &__box::after {
        left: 26px;
        background-color: $switch-checkbox-active-color;
    }
}
