.toast {
  @include grid-wrapper;
  position: fixed;
  z-index: z('modal');
  bottom: 0;
  padding-top: $size-s;
  padding-bottom: $size-s;
  border-radius: $border-radius;
  color: $black;
  background: $grey-mid;

  &:hover {
    cursor: pointer;
  }
}
